$gradientDarkBlue:#181e41;
$gradientOrange:#6a3c3c;
$titleGray:#9e9daa;
$blue:#253bb5;


$iconBlue:#1B4694;
$iconOrange:#A35353;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font: 'Montserrat', sans-serif;

